* {
	margin:0;
	padding:0;
	border:none;
	-webkit-user-select:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: black url('../framer/background.png') repeat scroll top left;
	background: #fafafa;
	font: 15px/1em "Arial";
	color: #3d3d3d;
	/*height: 20000px;*/
}

.siNav {
	position: relative;
	width: 375px;
	height: 60px;
	background: url('../assets/siNav.png') no-repeat;
	background-color: #000;
	z-index: 100;
}

#scoreboard {
	position: relative;
	width: 375px;
	height: 83px;
	background: url('../assets/scoreboard-large.png') no-repeat;
	z-index: 100;
}

#scoreboard.fixed {
	position: fixed;
	top: 42px;
}

.inning {
	float: left;
	margin: 5px 2px 0 30px;
}

.bases {
	width: 29px;
	height: 21px;
	background: url('../assets/bases-sprite.png') no-repeat 0px -63px;
	background-size: 29px 168px;
	float: left;
	margin: 0 5px 0 26px;
}

/*#activityBarTop {
	padding: 10px 15px;
	width: 100%;
	background-color: rgba(255,255,255,.8);
}*/

#gameflashNav {
	position: relative;
	width: 375px;
	height: 49px;
	margin: -3px 0 0 0;
	background: url('../assets/gameflashNav.png') no-repeat;
	background-color: #000;
	z-index: 100;
}

#gameflashNav.fixed {
	position: fixed;
	top: 0px;
}

#activityBarTop{
	position: relative;
	padding: 10px 15px;
	width: 375px;
	height: 41px;
	margin: -3px 0 0 0;
    background-color: rgba(255,255,255,.8);
    z-index: 100;
}

#activityBarTop.fixed {
    position: fixed;
    top: 127px;
    /*width: 375px;*/
}

#activityBarBot {
	position: relative;
	padding: 10px 15px;
	width: 375px;
	height: 49px;
	background: url('../assets/activityBar-players.png') no-repeat;
	background-color: #000;
	z-index: 100;
}

#activityBarBot.fixed {
    position: fixed;
    top: 160px;
    /*width: 375px;*/
}

.topBot {
	width: 9px;
	height: 4px;
	margin: 10px 0 0 0;
	background: url('../assets/topBot-sprite.png') no-repeat 0px 0px;
	float: left;
}

.labels {
	float: left;
	margin: 5px 0 0 10px;
}

.balls {
	float: left;
	width: 53px;
	height: 7px;
	background: url('../assets/4count-sprite.png') no-repeat 0px -21px;
	margin: 9px 0 0 8px;
}

.strikes, .outs {
	float: left;
	width: 38px;
	height: 7px;
	background: url('../assets/3count-sprite.png') no-repeat 0px -21px;
	margin: 9px 0 0 8px;
}

#homeTeamScore {
	top: 28px;
	left: 141px;
}

#awayTeamScore {
	top: 28px;
	left: 224px;
}

.score {
	position: absolute;
	margin: 5px 0 0 0;
	z-index: 100;
	font-size: 44px;
}

.plays {
	position: absolute;
	top: 71px;
	left: 0;
	width: 375px;
	height: 2200px;
	z-index: 10;
	background: url('../assets/timeline.png');
	background-repeat: no-repeat;
	/*background: url('../assets/timeline+bigEvents.png');*/
}

.players {
	position: absolute;
	width: 188px;
	height: 135px;
	background-color: rgba(255,255,255,.8);
	z-index: 20;
	background-repeat: no-repeat;
}

.playerHome {
	left: 186px;
}

#pitcher01 {
	top: 226px;
	background-image: url('../assets/pitcher-01.png');
}

#pitcher01.fixed {
	position: fixed;
	top: 164px;
}

#batter01 {
	top: 226px;
	background-image: url('../assets/batter-01.png');
}

#batter01.fixedAbsolute {
	position: absolute;
	top: 486px;
}

#batter01.fixed {
	position: fixed;
	top: 164px;
}

#batter02 {
	top: 632px;
	background-image: url('../assets/batter-02.png');
}

#batter02.fixedAbsolute {
	position: absolute;
	top: 994px;
}

#batter02.fixed {
	position: fixed;
	top: 164px;
}

#batter03 {
	top: 1138px;
	background-image: url('../assets/batter-03.png');
}

/*#batter03.fixedAbsolute {
	position: absolute;
	top: 1400px;
}*/

#batter03.fixed {
	position: fixed;
	top: 164px;
}

#stolenBase-01 {
	position: absolute;
	width: 94px;
	height: 134px;
	top: 888px;
	left: 140px;
	background-image: url('../assets/runner-sb.png');
	background-repeat: no-repeat;
	z-index: 10;
}

/*.bg {
	position: fixed;
	top: 0;
	height: 1000px;
	width: 375px;
	z-index: 1;
	background: url('../assets/bg-yankees.jpg') no-repeat -100px -200px;
	background-size: cover;
}*/


/*----------- Media Queries -----------*/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .topBot {
    	background: url('../assets/topBot-sprite@2x.png') no-repeat 0px 0px;
    	background-size: 8.5px 8.5px;
    }

    #scoreboard {
    	background: url('../assets/scoreboard-large@2x.png');
    	background-size: 375px 83px;
    }

    .bases {
    	background: url('../assets/bases-sprite@2x.png') no-repeat;
    	background-size: 29px 168px;
    }

    .balls {
    	background: url('../assets/4count-sprite@2x.png') no-repeat 0px -21px;
    	background-size: 49px 35px;
    }

    .siNav {
    	background: url('../assets/siNav@2x.png') no-repeat 0px 0px;
    	background-size: 375px 60px;
    }

    .strikes, .outs {
    	background: url('../assets/3count-sprite@2x.png') no-repeat 0px -21px;
    	background-size: 35px 28px;
    }

    #gameflashNav {
    	background: url('../assets/gameflashNav@2x.png');
    	background-size: 375px 49px;
    }

    #activityBarBot {
    	background: url('../assets/activityBar-players@2x.png');
    	background-size: 375px 49px;
    }

    .plays {
    	background: url('../assets/timeline@2x.png') no-repeat;
    	/*background: url('../assets/timeline+bigEvents@2x.png');*/
    	background-size: 375px 1468px;
    }

    #pitcher01 {
    	background-image: url('../assets/pitcher-01@2x.png');
    	background-size: 170px 136px;
    }

    #batter01 {
    	background-image: url('../assets/batter-01@2x.png');
    	background-size: 170px 136px;
    }

    #batter02 {
    	background-image: url('../assets/batter-02@2x.png');
    	background-size: 170px 136px;
    }

    #batter03 {
    	background-image: url('../assets/batter-03@2x.png');
    	background-size: 170px 136px;
    }

    #stolenBase-01 {
    	background-image: url('../assets/runner-sb@2x.png');
    	background-size: 94px 132px;
    }
}
