<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
  <script src="https://use.typekit.net/nku7wir.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="prefetch" href="https://use.typekit.net/nku7wir.js">
  <link rel="prerender" href="/projects/si-redesign-2016">
  <link rel="prerender" href="/projects/si-app">
  <link rel="prerender" href="/projects/si-kids">
  <link rel="prerender" href="/projects/si-vault">
  <link rel="prerender" href="/projects/game-flash">
  <link rel="prerender" href="/projects/motion-graphics-animation">
</head>