// Fonts
$headline:"source-sans-pro",Helvetica,sans-serif;
$body:"source-sans-pro",Helvetica,sans-serif;

// Colors
$dark-primary: #172540;
$dark-gray: #686C73;
$light-gray: #76919E;
$light-blue: #D9E9F5;
$active-primary: #FF7270;
$transparent: rgba(0,0,0,0);

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  font-family: $body;
  padding: 16px 16px 32px 16px;
  background-color: #F4F4F4;
}

h1, h2, h3, h4 {
  font-family: $headline;
}

h1 {
  font-weight: 900;
  font-size: 2.617em;
  line-height: 0.9314545;
}

h2 {
  font-size: 1.6175em;
  line-height: 1.082;
  color: $dark-primary;
  font-weight: 700; 
}

h4 {
  font-size: 0.6875em;
  color: $dark-gray;
  letter-spacing: 1.25px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-family: $body;
  font-size: 15px;
  color: $dark-primary;
  line-height: 1.375;
}


// Typographic Spacing for Pairings
h1 + h4 {
  margin-top: 8px;
}

h2 + h4 {
  margin-top: 7px;
}

h4 + p {
  margin-top: 16px;
}

h4 + .thumb {
  margin-top: 12px; 
}

a {
  text-decoration: none;
}

.project {
  list-style: none;
  margin-bottom: 40px;
}

nav {
  width:100%;
  font-family: $headline;

  // ul {
  //   width:100%;
  //   list-style:none;
  //   padding:0;
  //   margin:0;
  //   overflow:hidden;
  //   display: flex;
  //
  //   > li {
  //     // // position:relative;
  //     // float:left;
  //     flex: 1 1 auto;
  //
  //     > a {
  //       display: block;
  //       color: $dark-primary;
  //       text-align: center;
  //       padding:.25em 1em;
  //       margin:1.25em 1em;
  //       text-decoration:none;
  //     }
  //   }
  // }
}

.mainNav {
    list-style: none;
    margin-bottom: 16px;
    display: flex;
    color: $dark-primary;
    font-weight: 700;
    position: relative;

    &--name {
      // padding-left: 1em;
      align-self: flex-start;
      flex-grow: 2;
      border-bottom: none;
      height: 48px;
      width: 48px;
      background: url("../assets/img/avatarJohn.png") no-repeat left top;
      background-size: 48px;
      margin-bottom: 0;
    }

    &--navItem {
      margin-left: auto;
      font-size: 0.875em;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1;
      position: relative;
      border-bottom: none;
    }

    &--link {
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 1em;
      padding-right: 1em;
    }

    &--navItem a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -1px;
      left: 0;
      background-color: $dark-primary;
      transform: scaleX(0);
      transition: all 300ms cubic-bezier(0.33, -0.07, 0.36, 1.67);
      visibility: hidden;
    }

    a:link {
      color: $dark-primary;
    }

    a:hover:before {
      transform: scaleX(1);
    }

    a:visited {
      color: $dark-primary;
    }

    a:hover {
      color: $dark-primary;
      transition: all 0.3s ease-in-out 0s;
    }

    a:hover:before {
      visibility: visible;
    }
}

.headerJohn {
  margin-bottom: 32px;
}

.lead {
  img {
    width: 100%;
    display: block;
    margin-bottom: 1em;
  }
}

.thumb {
  img {
    width: 100%;
    display: block;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), 0px 1px 3px 0px rgba(0,0,0,0.10);
    border-radius: 2px;
    background-color: #fff;
    padding: 8px;
  }
}

.image-wrapper {
  img {
    width: 100%
    }
}

.image-caption {
  font-weight: 500;
  font-style: italic;
  font-size: 0.75em;
  color: $light-gray;
  text-align: center;
  border-top: 1px solid $light-gray;
  padding-top: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.post-content {
  margin-left: 1rem;
  margin-right: 1rem;

  p {
    margin-bottom: 1em;
  }

  // p:last-of-type {
  //   margin-bottom: 2em;
  // }
}

.commentary {
  border-left: 6px solid $light-blue;
  padding-left: 0.618em;
  padding-top: 1em;
  padding-bottom: 1em;
  // color: $light-blue;
  // background-color: $dark-gray;

  > p {
    margin-bottom: 0;
  }
}

.screencap {
  width: 100%;
}
